/**
 * Mixin icomoon 
 * Pull this mixin in if you need an icomoon icon without using the regular embed method (eg [class=icon-star]).
 */
@mixin icomoon() {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
