/**
* General Typography
*/ 

body {
    font-family: $base-face; 
}


/**
* Headings
*/ 

h1 {
    @include inuit-font-size($inuit-heading-size-1, 1.25);
    margin: 0 0 round($inuit-heading-size-1/1.5) 0;
}

h2 {
    @include inuit-font-size($inuit-heading-size-2, 1.25);
    margin: 0 0 round($inuit-heading-size-2/1.5) 0;
}

h3 {
    @include inuit-font-size($inuit-heading-size-3, 1.25);
    margin: 0 0 round($inuit-heading-size-3/1.5) 0;
}

h4 {
    @include inuit-font-size($inuit-heading-size-4, 1.25);
    margin: 0 0 round($inuit-heading-size-4/1.5) 0;
}

h5 {
    @include inuit-font-size($inuit-heading-size-5, 1.25);
    margin: 0 0 round($inuit-heading-size-5/1.5) 0;
}

h6 {
    @include inuit-font-size($inuit-heading-size-6, 1.25);
    margin: 0 0 round($inuit-heading-size-6/1.5) 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $brand-face;
}


small {
    display: inline-block;
    @include inuit-font-size($inuit-heading-size-6, 1.45);
}


a {
    color: colors(black);
    text-decoration: underline;
    &:hover {
        color: colors(black);
        text-decoration: none;
    }
}


p {
    margin-top: 0;
    margin-bottom: $base-spacing-unit;
}
